body{
    background-color: beige;
}


.gamesinfo{
font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: lightcoral;
margin: auto;
width: 150px;
}

.whataregames{
    font-family: cursive;
    background-color: lightblue;
    width: 40%;
    }

.date{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: deepskyblue;
    margin: auto;
}
.link{
    font-size: xx-large;
}
